/* _sass/colors/dark-scheme.scss */

@mixin styles {
  /* Site Theme Colors */
  --main-wrapper-bg: #1b1b1e;
  --sidebar-bg: #1e1e22;
  --link-color: #00ffcc; /* Test this with a bright color to see if it works */
  --text-color: #f0f0f0;
  
  /* Required for code blocks in dark mode */
  --highlight-bg-color: #252525;
}
